In [1]:
import sys
from math import sqrt
import numpy as np
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.cross_validation import KFold
from sklearn import ensemble
from sklearn import linear_model as lm
from sklearn.metrics import mean_squared_error as mse
import xgboost as xgb

C:\Users\Utkarsh Sah\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
def runXGB(train_X, train_y, test_X, test_y=None):
        params = {}
        params["objective"] = "reg:linear"
        params["eta"] = 0.002
        params["min_child_weight"] = 1
        params["subsample"] = 0.9
        params["colsample_bytree"] = 0.8
        params["silent"] = 1
        params["max_depth"] = 8
        params["seed"] = 1
        plst = list(params.items())
        num_rounds = 900

        xgtrain = xgb.DMatrix(train_X, label=train_y)
        xgtest = xgb.DMatrix(test_X)
        model = xgb.train(plst, xgtrain, num_rounds)
        pred_test_y = model.predict(xgtest)
        return pred_test_y

In [3]:
def rmse(act_y, pred_y):
    return np.sqrt(mse(act_y, pred_y))

In [4]:
train_file = "train.csv"
test_file = "test.csv"

In [5]:
train_df = pd.read_csv(train_file)
test_df = pd.read_csv(test_file)

In [9]:
train_df["Date_mod"] = (pd.to_datetime(train_df["Datetime"], format="%d-%b-%y"))
test_df["Date_mod"] = (pd.to_datetime(test_df["Datetime"], format="%d-%b-%y"))

ValueError: time data '25-08-2012 00:00' does not match format '%d-%b-%y' (match)

In [8]:
train_df

          ID          Datetime  Count
0          0  25-08-2012 00:00      8
1          1  25-08-2012 01:00      2
2          2  25-08-2012 02:00      6
3          3  25-08-2012 03:00      2
4          4  25-08-2012 04:00      2
5          5  25-08-2012 05:00      2
6          6  25-08-2012 06:00      2
7          7  25-08-2012 07:00      2
8          8  25-08-2012 08:00      6
9          9  25-08-2012 09:00      2
10        10  25-08-2012 10:00      2
11        11  25-08-2012 11:00      6
12        12  25-08-2012 12:00      4
13        13  25-08-2012 13:00      2
14        14  25-08-2012 14:00      6
15        15  25-08-2012 15:00      2
16        16  25-08-2012 16:00      2
17        17  25-08-2012 17:00      2
18        18  25-08-2012 18:00      2
19        19  25-08-2012 19:00      2
20        20  25-08-2012 20:00      2
21        21  25-08-2012 21:00      6
22        22  25-08-2012 22:00      2
23        23  25-08-2012 23:00      2
24        24  26-08-2012 00:00      4
25        25  26-08-2012 01:00      6
26        26  26-08-2012 02:00      2
27        27  26-08-2012 03:00      4
28        28  26-08-2012 04:00      2
29        29  26-08-2012 05:00      2
...      ...               ...    ...
18258  18258  24-09-2014 18:00    966
18259  18259  24-09-2014 19:00   1178
18260  18260  24-09-2014 20:00   1008
18261  18261  24-09-2014 21:00    936
18262  18262  24-09-2014 22:00    848
18263  18263  24-09-2014 23:00    942
18264  18264  25-09-2014 00:00    686
18265  18265  25-09-2014 01:00    546
18266  18266  25-09-2014 02:00    550
18267  18267  25-09-2014 03:00    416
18268  18268  25-09-2014 04:00    344
18269  18269  25-09-2014 05:00    334
18270  18270  25-09-2014 06:00    416
18271  18271  25-09-2014 07:00    498
18272  18272  25-09-2014 08:00    482
18273  18273  25-09-2014 09:00    512
18274  18274  25-09-2014 10:00    724
18275  18275  25-09-2014 11:00    656
18276  18276  25-09-2014 12:00    672
18277  18277  25-09-2014 13:00    642
18278  18278  25-09-2014 14:00    616
18279  18279  25-09-2014 15:00    686
18280  18280  25-09-2014 16:00    654
18281  18281  25-09-2014 17:00    622
18282  18282  25-09-2014 18:00    680
18283  18283  25-09-2014 19:00    868
18284  18284  25-09-2014 20:00    732
18285  18285  25-09-2014 21:00    702
18286  18286  25-09-2014 22:00    580
18287  18287  25-09-2014 23:00    534

[18288 rows x 3 columns]