# Importing Data and Libraries

In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

C:\Users\Utkarsh Sah\AppData\Roaming\Python\Python36\site-packages\sklearn\utils\fixes.py:313: FutureWarning: numpy not_equal will not check object identity in the future. The comparison did not return the same result as suggested by the identity (`is`)) and will change.
  _nan_object_mask = _nan_object_array != _nan_object_array

In [22]:
data = pd.read_csv('cancer.txt', header=None)

In [23]:
data.replace('?', 0, inplace=True)
data = data.astype(float)

In [24]:
targets = data[10]
data.drop([0,10], axis=1, inplace=True)

In [25]:
data.head()

     1    2    3    4    5     6    7    8    9
0  5.0  1.0  1.0  1.0  2.0   1.0  3.0  1.0  1.0
1  5.0  4.0  4.0  5.0  7.0  10.0  3.0  2.0  1.0
2  3.0  1.0  1.0  1.0  2.0   2.0  3.0  1.0  1.0
3  6.0  8.0  8.0  1.0  3.0   4.0  3.0  7.0  1.0
4  4.0  1.0  1.0  3.0  2.0   1.0  3.0  1.0  1.0

In [26]:
train, test, targets_train, targets_test = train_test_split(data, targets, test_size=0.1, random_state=0)

In [37]:
train.shape, test.shape

((629, 9), (70, 9))

# K-Means Implementation

In [251]:
class KMeans():
    def __init__(self, n_clusters, max_iter=100, tol=0.001):
        np.random.seed(0)
        self.n_clusters = n_clusters
        self.max_iter = max_iter
        self.tol = tol
        self.centroids = None
        self.labels = None
        self.sse = np.inf
    def normalize(self, df):
        scaler = StandardScaler()
        df = scaler.fit_transform(df)
        return df
    def fit(self, train, verbose=False):
        self.n_samples = train.shape[0]
        self.n_features = train.shape[1]
        self.centroids = np.random.normal(size=(self.n_clusters, train.shape[1]))
        train = self.normalize(train)
        for _ in range(self.max_iter):
            centroids = np.tile(self.centroids, (self.n_samples, 1))
            samples = np.repeat(train, self.n_clusters, axis=0)
            l2_norm = np.linalg.norm(centroids-samples, axis=1).reshape(self.n_samples, self.n_clusters)
            self.labels = np.argmin(l2_norm, axis=1)
            self.data = pd.DataFrame(train)
            self.data['Label'] = self.labels
            sse = 0
            for index in range(self.n_clusters):
                cluster = self.data[self.data['Label'] == index].drop('Label', axis=1).values
                self.centroids[index] = cluster.mean(axis=0)
                sse += np.linalg.norm(cluster-self.centroids[index], axis=1).sum()
            if (verbose):
                print("SSE: ", sse)
            if (self.sse - sse > self.tol):
                self.sse = sse
            else:
                break

In [252]:
model = KMeans(2)

In [253]:
model.fit(train, verbose=True)

SSE:  1543.40427748
SSE:  1124.37782538
SSE:  1039.91328558
SSE:  1018.07182978
SSE:  1015.79696968
SSE:  1014.66381397
SSE:  1014.66381397