In [1]:
import pandas as pd
import numpy as np
import string
from string import digits
import matplotlib.pyplot as plt
%matplotlib inline
import re
from sklearn.cross_validation import train_test_split

C:\Users\Utkarsh Sah\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

In [3]:
lines= pd.read_table('datasets/french-text/fra.txt', names=['eng', 'fr'])

In [4]:
lines = lines[0:50000]

In [5]:
lines.shape

(50000, 2)

In [6]:
lines.sample(10)

                            eng                            fr
30106     Excuse my clumsiness.        Excusez ma maladresse.
805                  Stay here.                   Reste ici !
29057      Would you like that?            Aimerais-tu cela ?
340                   It's odd.                C'est bizarre.
16502        He did it himself.        Il l'a fait tout seul.
30760     I am waiting my turn.           J'attends mon tour.
1792               Did you win?                As-tu vaincu ?
49172  Next year will be worse.  L'année prochaine sera pire.
46450  Do you play tennis well?   Jouez-vous bien au tennis ?
45177   What color do you like?     Quelle couleur aimes-tu ?

In [7]:
lines.eng=lines.eng.apply(lambda x: x.lower())
lines.fr=lines.fr.apply(lambda x: x.lower())

In [8]:
lines.eng=lines.eng.apply(lambda x: re.sub("'", '', x)).apply(lambda x: re.sub(",", ' COMMA', x))
lines.fr=lines.fr.apply(lambda x: re.sub("'", '', x)).apply(lambda x: re.sub(",", ' COMMA', x))

In [9]:
exclude = set(string.punctuation)
lines.eng=lines.eng.apply(lambda x: ''.join(ch for ch in x if ch not in exclude))
lines.fr=lines.fr.apply(lambda x: ''.join(ch for ch in x if ch not in exclude))

In [10]:
remove_digits = str.maketrans('', '', digits)
lines.eng=lines.eng.apply(lambda x: x.translate(remove_digits))
lines.fr=lines.fr.apply(lambda x: x.translate(remove_digits))

In [11]:
lines.head()

    eng         fr
0    go        va
1   run     cours
2   run    courez
3   wow  ça alors
4  fire    au feu

In [12]:
lines.fr = lines.fr.apply(lambda x : 'START_ '+ x + ' _END')

In [13]:
all_eng_words=set()
for eng in lines.eng:
    for word in eng.split():
        if word not in all_eng_words:
            all_eng_words.add(word)
    
all_french_words=set()
for fr in lines.fr:
    for word in fr.split():
        if word not in all_french_words:
            all_french_words.add(word)

In [14]:
len(all_eng_words), len(all_french_words)

(6030, 12763)

In [15]:
lenght_list=[]
for l in lines.fr:
    lenght_list.append(len(l.split(' ')))
np.max(lenght_list)

17