In [1]:
import pandas as pd
import numpy as np

In [18]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [23]:
data = pd.read_excel('Q1.xlsx')

In [25]:
data.head()

      Name  Votes     BA  HR  RBI
0     Sosa    438  0.308  66  158
1  McGwire    272  0.299  70  147
2     Alou    215  0.312  38  124
3  Vaughan    185  0.272  50  119
4   Biggio    163  0.325  20   88

In [26]:
targets = data['Votes']
data = data.loc[:, 'BA':'RBI']

In [27]:
data.shape, targets.shape

((8, 3), (8,))

In [37]:
model = LinearRegression(fit_intercept=True)

In [38]:
model.fit(data, targets)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [39]:
model.score(data, targets)

0.63239059996372748

In [40]:
r = np.sqrt(r2_score(targets, model.predict(data)))

In [44]:
model.intercept_

-1001.1594792776814

In [45]:
model.coef_

array([  2.62026643e+03,   4.52697867e+00,   1.56237446e+00])

In [42]:
n = len(data)

In [43]:
data.corr()

           BA        HR       RBI
BA   1.000000 -0.486811 -0.310653
HR  -0.486811  1.000000  0.933274
RBI -0.310653  0.933274  1.000000